@import '../mixins/mixins';

.mainCard {
  text-align: center;

  ul {
    justify-content: center;
    font-size: 1.75rem;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 5vh 0;
  }

  img {
    @include setupProfilePhoto;
  }

  svg {
    cursor: pointer;
  }
}
