@import '../mixins/mixins';

.progress-bar {
  width: 100%;
  background-color: #f1f1f1;
  margin: 1.4vh 0;
  @include bar;
  .bar {
    @include bar;

    @include themify($themes) {
      color: themed('darkGray');
      background: themed('yellowColor');
    }
  }
}

.skills-text {
  display: flex;

  h4 {
    + h4 {
      margin-left: auto;
      font-weight: 200;
    }
  }
}
