@import '../mixins/square';

.services {
  display: flex;
  gap: 2rem;
  color: #333;

  div {
    @include square;
    flex: 1;
    &:hover {
      transform: scale(1.05);
    }
  }
}
@media (max-width: 630px) {
  .services {
    flex-direction: column;
  }
}
